<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellers store - GET SKY BUY</title>
    <link rel="shortcut icon" href="/files/img/favicon.ico" type="image/x-icon">
    <meta name="robots" content="nofollow, noindex">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/files/css/Sellers_Store_Home.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="container2">
                <h2 class="Heading">Sellers store</h2>
                <h4> <a href="/sellers_store/logout">LOGOUT</a></h4>
                <div><strong>Your Seller assistant contact number: </strong><a href="tel:+91#{Assistant_No}">+91 #{Assistant_No}</a></div>
                <div><strong>ID: </strong> #{ID}</div>
                <div><strong>Active Now: </strong> #{DayActive} <br> !{Active_Now}</div>
                <div><strong>Email: </strong> #{Email}</div>
                <hr>
                <div><strong>Name: </strong> #{Name}</div>
                <div><strong>Mobile Number: </strong> #{Mobile_Number}</div>
                <div><strong>Alt Number: </strong> #{Alt_Number}</div>
                <div><strong>Age: </strong> #{Age}</div>
                <div><strong>Gender: </strong> #{Gender}</div>
                <hr>
                <div><strong>Ban: </strong> #{Ban}</div>
                <div><strong>Verified: </strong> #{Verified}</div>
                <hr>
                <div><strong>PAN Number: </strong> #{PAN_Number}</div>
                <div><strong>Aadhaar Number: </strong> #{Aadhaar_Number}</div>
                <hr>
                <div><strong>Shop Name: </strong> #{Shop_Name}</div>
                <div><strong>Shop Contact Number: </strong> #{Shop_Contact_Number}</div>
                <div><strong>Worker Number: </strong> #{Worker_Number}</div>
                <div><strong>Shop Category: </strong> #{Shop_Category}</div>
                <div><strong>Shop Location: </strong> #{Shop_Location}</div>
                <hr>
                <div><strong>Created On: </strong> #{Created_On}</div>
                <hr>
                <div><strong>Bank Name: </strong> #{Bank_Name}</div>
                <div><strong>Benificiary Name: </strong> #{Benificiary_Name}</div>
                <div><strong>Account Number: </strong> #{Account_Number}</div>
                <div><strong>IFSC Code: </strong> #{IFSC_Code}</div>
                <hr>
                <div><strong>Landmark: </strong> #{Landmark}</div>
                <div><strong>Locality: </strong> #{Locality}</div>
                <div><strong>Town/City: </strong> #{Town_City}</div>
                <div><strong>PIN Code: </strong> #{PIN_Code}</div>
                <div><strong>State: </strong> #{State}</div>
                <div><strong>District: </strong> #{District}</div>
                <div><strong>Country: </strong> #{Country}</div>
                <hr>
                <h4>Change your password</h4>
                <div class="Change_Password_Box">
                    <div id="Password_Change">
                        <input type="password" placeholder="Old password" id="Old_Password">
                        <input type="password" placeholder="New password"id="New_Password">
                        <input type="password" placeholder="Confirm password"id="Confirm_Password">
                        <button type="button" class="Active_Btn" id="Change_Password" onclick="Change_Password();">Change</button>

                    </div>

                </div>

            </div>
        </div>
    </main>

    <script src="/files/js/Message.js"></script>
    <script src="/files/js/Seller_Store_Home.js"></script>
</body>
</html>